.hidden {
  display: none !important;
}

.gameboards {
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
  gap: 48px;
}

.endOpacity {
  opacity: 0.3;
  transition: all 1000ms;
}

.playerOneGameboard, .playerTwoGameboard {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);
  grid-gap: 0px;
}

.playerSquare, .computerSquare {
  border: solid 0.1px;
  background-color: white;
}

.playerSquare:hover, .computerSquare:hover {
  background-color: aquamarine;
}

.shipDockDiv {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 24px;
}

.shipDock {
  background: transparent;
  padding: 12px;
  height: 180px;
}

.flex {
  display: flex;
  gap: 8px;
}

.ship {
  width: max-content;
  height: max-content;
  margin-bottom: 6px;
}

.flexDirectionY {
  flex-direction: column;
}

.shipSquare {
  height: 24px;
  width: 24px;
  background-color: gray;
  border: solid 0.1px white;
}

.draggable {
  display: flex;
  border: solid 0.1px white;
}

.activeShip {
  background: rgb(199, 162, 247);
}

.attackedShip {
  background: rgb(51, 0, 0) !important;
}

.missedShip {
  background: rgb(30, 96, 139) !important;
}

.untargetable {
  pointer-events: none;
}
