@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&display=swap');

.hidden {
  display: none !important;
}

.gameboards {
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 48px;
  gap: 48px;
}

.endOpacity {
  opacity: 0.3;
  transition: all 1000ms;
}

.playerOneGameboard, .playerTwoGameboard {
  display: grid;
  grid-template-columns: repeat(10, calc(2.5vw + 24px));
  grid-template-rows: repeat(10, calc(2.5vw + 24px));
  grid-gap: 2px;
  -webkit-box-shadow: 0px 9px 11px 1px rgba(0,0,0,0.62); 
  box-shadow: 0px 9px 11px 1px rgba(0,0,0,0.62);
}

.playerSquare, .computerSquare {
  border: solid 0.1px;
  background-color: white;
  border-radius: 2px;
}

.computerSquare:hover {
  background-color: aquamarine;
}

.shipDockDiv {
  margin-top: 100px;
  border-radius: 5px;
  height: 260px;
  width: 130px;
  border: solid rgb(0, 28, 54) 1px;
  background: white;
  padding: 12px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column-reverse;
  gap: 8px;
}

.shipDock {
  background: transparent;
  height: 128px;
}

.shipDockTitle {
  font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 8px;
}

.axisBtn {
  font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #90d6ff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 18px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 4px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}

.axisBtn:hover {
  box-shadow: 2px 2px 0 rgb(25, 24, 92);
  transform: translate(-2px,-2px);
}

.axisBtn:focus-visible{
  outline-offset: 1px;
}

.flex {
  display: flex;
  gap: 8px;
}

.ship {
  width: max-content;
  height: max-content;
  margin-bottom: 6px;
}

.ship:hover {
  cursor: grab;
}

.flexDirectionY {
  flex-direction: column;
}

.shipSquare {
  height: 14px;
  width: 14px;
  background-color: gray;
  border: solid 0.1px white;
}

.draggable {
  display: flex;
  border: solid 0.1px white;
}

.activeShip {
  background: rgb(167 167 167 / 54%);
}

.attackedShip {
  background: rgb(255 0 0 / 46%) !important;
}

.missedShip {
  background: rgb(139 208 255) !important;
}

.untargetable {
  pointer-events: none;
}

.gameboardOpac {
  opacity: 0.1;
}

.playerOneDiv, .playerTwoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playerOneTitle, .playerTwoTitle {
  font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin-bottom: 24px;
}