@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  margin: 0;
  background: url('./public/battlefield.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.title {
  font-family: 'Bangers', Arial, Helvetica, sans-serif;
  letter-spacing: 0.8rem;
  color: rgb(9, 0, 31);
  font-size: calc(4vw + 48px);
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 0;
  height: 30vh;
}

.linear-wipe {
  background: linear-gradient(-45deg, #006868, #002930, #003d66, #003c44);
	background-size: 300%;
	text-transform: uppercase;
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 20s ease-in-out infinite;
	-moz-animation: animated_text 20s ease-in-out infinite;
	-webkit-animation: animated_text 20s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}


